In [7]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import xlrd

## Data Collection Bias Analysis

### recall original preprocessed dataset:

In [2]:
ovt = pd.read_csv('ovrt.csv')
ovt = ovt.drop(columns=['Unnamed: 0'])
print("Shape: " + str(ovt.shape))
ovt.head()

Shape: (655, 68)

,ID,QOL_ovt,energy_ovt,genhlth_ovt,optimism_ovt,pain_ovt,socfctn_ovt,lutein_ovt,cryptox_ovt,lycopene_ovt_x,...,water_ovt,anim. protein_ovt,veg prot_ovt,vit k_ovt,trans fat acids_ovt,beta-carot_ovt,alpha-carot_ovt,beta-cryptox_ovt,lut + zeax_ovt,lycopene_ovt_y
0,1245,-32.312500,-20.0,-40.0,-2.0,-12.5,-50.0,-0.1697,-0.0465,0.3556,...,193.992493,-1.905000,8.29750,91.972500,-0.3525,1399.397461,24.567507,54.597500,1790.035065,250.457520
1,1256,-36.687500,-5.0,10.0,-3.0,-50.0,-37.5,0.0980,-0.0966,0.0129,...,722.049988,-5.290000,-6.13250,7.219999,-0.4350,-311.827454,248.392479,15.737500,-347.647522,-1278.749996
2,1265,-6.312500,-5.0,-10.0,2.0,-12.5,0.0,0.0349,-0.1795,-0.4249,...,499.857483,-38.457500,1.31500,34.244999,-1.4150,18381.732422,8353.942706,61.490000,2007.082550,26804.000000
3,1266,0.437500,-10.0,0.0,2.0,25.0,-12.5,-0.1125,-0.1744,-0.4923,...,299.345032,35.095001,-5.08750,26.660002,1.3200,-5628.977448,-1542.992467,312.769993,2945.134918,4928.824951
4,1276,30.646484,30.0,5.0,-1.0,25.0,37.5,0.0766,0.0213,-0.0547,...,51.471191,4.437499,-1.35375,-67.597503,0.7600,49091.856445,28144.247949,284.864999,92.692444,-1542.129974

In [17]:
# patient ids in ovt --> in Year 1 and Year 4
ovt_ids = list(ovt.get('ID'))

### all patients in the study (according to endpoint)

In [18]:
endpoints_df = pd.read_excel("C:/Users/leena/Niema_ML/data/endpoints.xls")
endpoints_df.head()

,id,intgrp,vitality,brcastatus,othcstatus,brcacontribute,Year_Dx,grade,grade2,grade3,grademiss,newstage,stage2,stage3,site0,recur_flag,yrsdx_rand,yrsrand_endr,yrsdx_endr,yrsdx_endd
0,1002,3,1,0,0.0,-1,1994,0,0,0,1,2,1,0,1,0,0.761123,11.195072,11.956194,11.956194
1,1003,3,1,0,0.0,-1,1994,2,1,0,0,1,0,0,1,0,1.596167,10.784394,12.380561,12.380561
2,1005,4,1,0,0.0,-1,1991,0,0,0,1,2,1,0,1,0,4.010951,10.995209,15.006160,15.006160
3,1007,3,1,0,0.0,-1,1994,1,0,0,0,2,1,0,1,0,0.950034,10.995209,11.945243,11.945243
4,1008,4,1,0,0.0,-1,1994,2,1,0,0,1,0,0,1,0,0.446270,7.786448,8.232717,8.232717